<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <section class="book-view container">
        <ul id=bookObject>
            <li class="book-view" data-id='<%=books.title %>'>
                <h4>Title: <%= books.title %></h4>
                <img href= <% books.img %>>
                <p>Author: <%= books.authors%> </p>
                <p> ISBN 10: <%= books.isbn10 %> </p>
                <p> ISBN 13: <%= books.isbn13 %></p>
                <p>Description: <%= books.description %> </p>
            </li>'
        </ul>
    </section>
</body>
</html>